@import "./typography.scss";

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    overflow: hidden;
}

button {
    background: transparent;
    border: none;
}

svg {
    fill: currentColor;
}
