<md-list class="sidenav-menu">
  <md-list-item *ngFor="let menu_item of menu; let i = index">
    <a class="sidenav-menu-item" md-button [routerLink]="[menu_item.url]" (click)="changeRoute()">
      <md-icon [color]="'accent'" class="menu-item-icon" [svgIcon]="menu_item.icon"></md-icon>
      <span>{{menu_item.name}}</span>
    </a>
  </md-list-item>
  <div class="separator"></div>
  <md-list-item>
    <a class="sidenav-menu-item-static" md-button href="https://github.com/contentacms/contenta_angular" target="_blank">
      <md-icon [color]="'primary'" class="menu-item-icon" [svgIcon]="'code'"></md-icon>
      <span>Github</span>
    </a>
  </md-list-item>
</md-list>