<mat-list class="sidenav-menu">
  <mat-list-item *ngFor="let menu_item of menu; let i = index">
    <a class="sidenav-menu-item" mat-button [routerLink]="[menu_item.url]" (click)="changeRoute()">
      <mat-icon [color]="'accent'" class="menu-item-icon" [svgIcon]="menu_item.icon"></mat-icon>
      <span>{{ menu_item.name }}</span>
    </a>
  </mat-list-item>
  <div class="separator"></div>
  <mat-list-item>
    <a class="sidenav-menu-item-static" mat-button href="https://github.com/contentacms/contenta_angular" target="_blank" rel="noopener">
      <mat-icon [color]="'primary'" class="menu-item-icon" [svgIcon]="'code'"></mat-icon>
      <span>Github</span>
    </a>
  </mat-list-item>
</mat-list>