<div class="home-banner-section">
  <div class="home-banner__inner maxed-width">
    <div class="magazine">
      <img src="assets/magazine.png" alt="Umami magazine" title="Umami" />
    </div>
    <div class="cta-text">
      <h2>
        In this months issue
      </h2>
      <h3>
        Lorem Ipsum is simply dummy text of the printing
        <br/> and typesetting industry.
      </h3>
      <div class="home-banner__bullets">
        <ul>
          <li>
            Comforting Winter puddins
          </li>
          <li>
            Introduction to Iceland food
          </li>
          <li>
            15 Healthy Meals under 500 Callories
          </li>
          <li>
            Winter warmers
          </li>
          <li>
            Are all sugards the same?
          </li>
          <li>
            Profile on head chef Jeremy Watson
          </li>
        </ul>
      </div>
      <br/>
      <button color="primary" mat-raised-button>More Umami</button>
    </div>
  </div>
</div>
