
@import "./../../../../styles/settings/colors.scss";

.filters-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.filter-element {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    &:first-child {
        margin: 0;
    }

    .mat-input-container {
        width: 95%;
        display: block;
    }
}

.filters-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    padding: 15px 20px;
    border-bottom: 1px solid $gray--very-light;
    margin-bottom: 0;

    mat-icon {
        max-width: 20px;
        margin-right: 0.5rem;
        vertical-align: bottom;
    }
}
