<md-card class="card">
  <div class="card-image"><img *ngIf="image" md-card-image [src]="image" [alt]="imageAlt"></div>
  <md-card-content>
    <md-card-title class="card-title">
      <ng-content select=".title"></ng-content>
    </md-card-title>
    <md-card-subtitle>
      <ng-content select=".subtitle"></ng-content>
    </md-card-subtitle>
  </md-card-content>
  <md-card-actions class="actions">
    <a [color]="'primary'" md-button md-raised-button [routerLink]="link">{{linkText}}</a>
  </md-card-actions>
</md-card>
