<md-card class="card">
  <md-card-header>
    <md-card-title *ngIf="title">{{title}}</md-card-title>
    <md-card-subtitle *ngIf="subTitle">{{subTitle}}</md-card-subtitle>
  </md-card-header>
  <img *ngIf="image" md-card-image [src]="image">
  <md-card-content *ngIf="description">
    <p>
      {{description}}
    </p>
  </md-card-content>
  <md-card-actions class="actions">
    <a [color]="'accent'" md-button md-raised-button [routerLink]="link">{{linkText}}</a>
  </md-card-actions>
</md-card>
