@import "./../../../../styles/settings/breakpoints.scss";
.card .actions {
    padding-left: 15px;
    padding-bottom: 15px;
}

.mat-card {
    .card-image {
        a {
            display: block;
        }
        @include breakpoint($narrow-devices) {
            max-height: 200px;
            overflow: hidden;
            margin: {
                top: -24px;
                right: -24px;
                left: -24px;
                bottom: 1rem;
            }
        }
    }
}

.card-title {
    font-size: 1.1rem;
    @include breakpoint($narrow-devices) {
        min-height: 3rem;
    }
}

.actions-link {
    text-transform: uppercase;
    font-size: 13px;
}
