<mat-card class="card">
  <div class="card-image">
    <a [routerLink]="link">
      <img *ngIf="image" mat-card-image [src]="image" [alt]="imageAlt">
    </a>
  </div>
  <mat-card-content>
    <mat-card-title class="card-title">
      <ng-content select=".title"></ng-content>
    </mat-card-title>
    <mat-card-subtitle>
      <ng-content select=".subtitle"></ng-content>
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions class="actions">
    <a class="actions-link" [color]="'warn'" mat-raised-button mat-button [routerLink]="link">{{ linkText }}</a>
  </mat-card-actions>
</mat-card>
