<h1>Here are some features: </h1>
<ul>
  <li>
    <h2>Ahead of Time Template Compiling</h2>
    <p>Templates are compiled into raw JavaScript for faster execution at runtime.</p>
  </li>
  <li>
    <h2>Service Worker / Offline Support</h2>
    <p>This site is offline-ready! Once you browse around a bit, feel free to try this feature by turning off your internet connection and continuing to browse.</p>
  </li>
  <li>
    <h2>Continuous Integration</h2>
    <p>Test suite, precache, and deployments are automatic as master branch changes.</p>
  </li>
  <li>
    <h2>Installable Web App</h2>
    <p>If you visit the site multiple times from a mobile phone (at least 5 minutes apart), you will be prompted to add the web app to your home screen. Icons and a splash page are included.</p>
  </li>
</ul>
