@import "./../../../../styles/settings/breakpoints.scss";
@import "./../../../../styles/settings/colors.scss";

:host {
  clear: both;
  width: 100%;
}

.tags {
  padding: 1rem;
  text-align: center;
  margin: {
    top: 1rem;
    left: -15px;
    right: -15px;
  }
  border: {
    top: 1px solid $gray--very-light;
    bottom: 1px solid $gray--very-light;
  }
  @include breakpoint($narrow-devices) {
    border: none;
    text-align: left;
    margin: 0;
  }

  .tag {
    display: inline-block;
    margin: 0.25rem;
  }
}
