<h2 class="filters-title">
  <mat-icon [color]="'accent'" [svgIcon]="'sort'"></mat-icon>Filters</h2>
<div class="filters-form" [formGroup]="filtersForm">
  <div class="filter-element">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
  </div>
  <div class="filter-element">
    <mat-form-field>
      <mat-select placeholder="Difficulty" formControlName="difficulty">
        <mat-option *ngFor="let difficulty of difficultyList" [value]="difficulty.value">{{ difficulty.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-element">
    <mat-form-field>
      <mat-select placeholder="Prep Time" formControlName="preparationTime">
        <mat-option *ngFor="let time of preparationTimeList" [value]="time.value">{{ time.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>