<div [formGroup]="filtersForm">
  <md-input-container>
    <input mdInput formControlName="title" placeholder="Title">
  </md-input-container>

  <md-select placeholder="Difficulty" formControlName="difficulty">
    <md-option *ngFor="let difficulty of difficultyList" [value]="difficulty.value">{{ difficulty.name }}</md-option>
  </md-select>

  <md-select placeholder="Prep Time" formControlName="prepTime">
    <md-option *ngFor="let time of prepTimeList" [value]="time.value">{{ time.name }}</md-option>
  </md-select>

  <md-select placeholder="Limit" formControlName="limit">
    <md-option *ngFor="let limit of limitList" [value]="limit.value">{{ limit.name }}</md-option>
  </md-select>
</div>