@import "./../../../styles/settings/breakpoints.scss";

:host {
  display: flex;
  flex-direction: column;
}

.recipe-list {
    display: flex;
    flex-flow: column;
    @include breakpoint($narrow-devices) {
        justify-content: space-between;
        flex-flow: row;
        flex-wrap: wrap;
    }
}

.recipe-item {
    margin-top: 15px;
    flex: 1;
    @include breakpoint($narrow-devices) {
        margin-top: 40px;
        flex: inherit;
        width: 32%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}
