@import "./../../../styles/settings/breakpoints.scss";

.recipes {
    .mat-sidenav-container[fullscreen] {
        top: 0;
    }
}

.main-content-recipes {
    margin: {
        left: 15px;
        right: 15px;
        bottom: 30px;
    }
    @include breakpoint($narrow-devices) {
        margin: {
        left: 0;
        right: 0;
    }
    }
}

.toggle-filters {
    position: fixed;
    bottom: 3rem;
    right: 0.5rem;
    @include breakpoint($narrow-devices) {
        right: 2rem;
    }
}

.sidenav {
    min-width: 300px;
    max-width: 400px;
}
