@import "./../styles/settings/breakpoints.scss";
@import "./../styles/settings/layout.scss";

.main-content {
    padding: {
        top: 30px;
        left:15px;
        right: 15px;
    }
    @include breakpoint($narrow-devices) {
        padding: {
            left: 30px;
            right: 30px;
        }
    }
    height: 100%;
    overflow: auto;
}

.sidenav {
    min-width: 300px;
}

:host /deep/.mat-sidenav-container[fullscreen] {
    top: 55px;
}

.main-content {
    & /deep/ .outlet,
    & /deep/ .maxed-width {
        @include breakpoint($narrow-devices) {
                max-width: $page-max-width;
                margin: {
                    left: auto;
                    right: auto;
                }
        }
    }
}