@import "./../../../../styles/settings/breakpoints.scss";

.recipes {
    @include breakpoint($narrow-devices) {
        margin-top: 15px;
    }
    margin-top: 40px;
}

.recipe-list {
    display: flex;
    flex-flow: column;
    @include breakpoint($narrow-devices) {
        justify-content: space-between;
        flex-flow: row;
        flex-wrap: wrap;
    }
}

.recipe-item {
    margin-top: 15px;
    flex: 1;
    @include breakpoint($narrow-devices) {
        flex: inherit;
        width: 32%;
        margin-top: 1%;
        margin-bottom: 1%;   
    }
}

.loading_spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    md-spinner {
        flex: 1;
    }

    md-spinner {
        max-width: 50px;
        max-height: 50px;
    }
}
