@import "./../../../../styles/settings/breakpoints.scss";

.recipes {
    margin-top: 15px;
    @include breakpoint($narrow-devices) {
        margin-top: 40px;
    }
}

.loading_spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    md-spinner {
        flex: 1;
    }

    md-spinner {
        max-width: 50px;
        max-height: 50px;
    }
}
