<div class="recipes" *ngIf="loaded | async; else spinloading">
  <div>
    <h1 class="list-title">Latest Recipes</h1>
  </div>
  <div class="recipe-list">
    <div class="recipe-item" *ngFor="let recipe of recipes | async; let i = index">
      <app-card [title]="recipe.title" [image]="recipe.image.thumbnail.url"
        [subTitle]="recipe.createdAt" [link]="''" [linkText]="'More'"></app-card>
    </div>
  </div>
</div>
<ng-template #spinloading>
  <div class="loading_spinner">
    <md-spinner></md-spinner>
  </div>
</ng-template>
