@import "./../../../../styles/settings/breakpoints.scss";
.recipe-long {
    .image {
        img {
            max-width: 100%;
        }
    }
    @include breakpoint($narrow-devices) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        .content {
            flex-basis: 70%;
        }
        .image {
            flex-basis: 25%;
        }
    }
}
