@import "./../../../../styles/settings/breakpoints.scss";
.recipe-long {
<<<<<<< HEAD
=======
    .image {
        img {
            max-width: 100%;
        }
    }
>>>>>>> origin/develop
    @include breakpoint($narrow-devices) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        .content {
            flex-basis: 70%;
        }
        .image {
            flex-basis: 25%;
<<<<<<< HEAD
            img {
                max-width: 100%;
            }
=======
>>>>>>> origin/develop
        }
    }
}
